 @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


    body  {

    background-color: #0a0a1a ;
    margin: 0px;
    padding: 0px;
    font-family: Manrope;
    color:  #F1F5F9;
    }


    .navbar  {
        background-color: #14142d;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0px;
        align-items: center;
        position: fixed;
         top: 0;
        left: 0;
         width: 100%;

  z-index: 9999;
    }

    .navbar h2 {
        display: inline;
        margin-left: 20px;
    }

    .list {
        display: flex;
        align-items: center;
        justify-content: center;
    }



    .navbar ul {
        margin-top: 15px;
        margin-right: 20px;
        list-style: none;
        display:flex;
        gap: 20px;


    }

    .navbar ul a {
        color: aliceblue;
        text-decoration: none;
    }

    .navbar ul a:hover {
        color: #00D4FF;
        text-decoration: none;
    }




    .home {
        min-height: 100vh;
       display: flex;
       align-items: center;
       justify-content: center;
       
    }

    .home .hero {
       
        width: 95vw;
        height: 90vh;
        display:flex;
        align-items: center;
        justify-content: space-around;
        gap: 10px;

    }

    .herotxt {
       
        width: 50%;
        height: 60%;
        margin-left: 0px;
        padding-left: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .heroimg {
      
        /* width: 42%;
        height: 60%; */

        height: 400px;
        width: 400px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .herotxt .icons {
        display: flex;
        gap: 15px;
    }

    
    .herotxt .icons i{
        font-size: 20px;
        color: #00D4FF;
    }

    .herotxt #hello{
        margin: 0px;
        padding: 0px;
    }

    .herotxt h1 {
        margin: 0px;
        padding: 0px;
    }

    .herotxt #description{
        margin: 0px;
        padding: 0px;
    }

    .herotxt p{
        margin-top: 25px;
        padding: 0px;
    }

    .heroimg img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }




    .about {
        min-height: 100vh;
       display: flex;
       align-items: center;
       justify-content: center;
    }

    .aboutsec {
        
        width: 95vw;
        height: 90vh;
        display:flex;
        align-items: center;
        justify-content: space-around;
        gap: 5px;
    }

    .aboutimg {
        
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        }

        .aboutimg img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }

    .abouttxt {
        
        height : 85%;
        width : 60%;
        margin-right: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 8px;
        padding-bottom: 0px;
        
    }

    .abouttxt h1 {
        margin-bottom: 8px;
        margin-left: 5px;
        padding : 0px;
    }

     .abouttxt h2 {
        margin-bottom: 10px;
        margin-left: 5px;
        padding : 0px;
    }

     .abouttxt p {
        margin-top: 5px;
        padding : 0px;
        margin-bottom: 80px;
    }

    .abouttxt button {
        border-radius: 25px;
        padding: 10px 10px 10px;
        margin-bottom: 25px;
        margin-top: 40px;
        background: linear-gradient(135deg, #00D4FF, #FF4500);
        color: #000;
        border: none;
        margin-left: 20px;
        box-shadow: 
        0 0 55px rgba(0, 212, 255, 0.6);

    }

    .myservice {
        min-height: 80vh;
       display: flex;
       align-items: center;
       justify-content: center;
    }


    .myservice .service {
        
        width: 95vw;
        height: 80vh;
        display:flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    .service  h1 {
        position: relative;
    }


    .service h1::after {
        content:"";
        background: linear-gradient(90deg, #00D4FF, #FF4500);
        position: absolute;
        left: 0px;
        bottom: 0px;
        height: 2px;
        width:100%;
        
    }

    

    .cards {
       padding: 0px;
        width: 80%;
        display: flex;
        justify-content: space-between;

    }

    .card1 , .card2 , .card3 {

        border-radius: 1rem;
         background-color:#1e1e40 ; 
         width: 350px;
        min-height: 250px;
        padding:  5px;
        padding-top: 20px;
        position: relative;
          display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        box-shadow:
        0 0 25px rgba(0, 212, 255, 0.35),  
        0 0 30px rgba(255, 69, 0, 0.15);
    }

    .card1 , .card2 {
        margin-right: 35px;
    }

    .card1 h3, .card2 h3 , .card3 h3 {
        font-size: 22px;
        margin-left: 15px;
        padding: 2px;
        margin-bottom: 2px;
        
    }

     .card1 p , .card2 p  , .card3 p  {
        margin-top: 0px;
        margin-left: 15px;
        padding: 2px;
        font-size: 12px;
    }

    .cards i {
        
        color: #00D4FF;
        font-size: 25px;
        margin-left: 15px;
        margin-bottom: 10px;
    }

    .cards button {
        font-size: 15px;
         border-radius: 25px;
        padding: 10px;
        background: linear-gradient(135deg, #00D4FF, #FF4500);
        color: #000;
        border: none;
        margin-bottom: 15px;
        margin-left: 15px ;
       box-shadow: 0 0 40px rgba(0, 212, 255, 0.6); ;
    }


    
    .myskills {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .myskills .skills {
         width: 95vw;
        height: 80vh;
        display:flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .skills h2 {
        position: relative;
    }

    


    span {
        color: #00D4FF;
    }

    .projects {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .projects .project {
         width: 95vw;
        height: 80vh;
        display:flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        gap: 40px;
    }

    .projectimg {
        
        width: 600px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
         box-shadow: 
        0 0 55px rgba(0, 212, 255, 0.6),  
        0 0 35px rgba(255, 69, 0, 0.4);
        
    }

    .contactme {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact {
        
         width: 95vw;
        height: 80vh;
        display:flex;
        align-items: center;
        justify-content: space-around;

    }

    .contacttxt {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 60%;
        width: 50%;
        padding: 10px;
        margin: 5px;
    }

    .contacttxt a {
        color: #f7feff;
        text-decoration: none;
        display: inline;

    }


    .contactform {
       
        margin: 5px;
        padding: 0px;
        height: 60%;
        width: 50%;
    }

    .contactform  form{
        
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 25px;

    }

    input {
        padding: 5px;
        border-radius: 8px;
        border: none;
    }

    .contactform button {
        border: none;
        border-radius: 25px;
        padding: 5px;
        background: linear-gradient(135deg, #00D4FF, #FF4500);
        color:  #000;
        border: none;
        margin-bottom: 15px;
        
        box-shadow: 0 0 40px rgba(0, 247, 255, 0.6);
    }

    




